html {
    margin: 0;
    padding: 0;
    height: -webkit-fill-available
}

body {
    height: inherit;
    margin: 0;
    padding: 0;

    font-family:Tahoma, Geneva, sans-serif;
    color: #F0C911;
    font-size: 1em;

    background-repeat: no-repeat;
    background-size: cover;
}


#map {
    height: 85%;/*if you change this value, be sure to also change home.js, search FINDME-1*/
}


#banner {
    height: 14.3%;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    //border: solid #F0C911;
}

.bannerMessage {
    margin: auto;
}

.bannerDefaultLegendText {
    margin: auto 7px 0px;
}


#bannerTop {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    align-content: space-around;
    height: fit-content;
    color: #000000;
    text-align: center;
    justify-content: space-around;
    //border-bottom: solid #F0C911;
}

#bannerTopHappyPlaceInfo {
    text-align: left;
    justify-content: space-evenly;
}

.iconContainer {
    display: flex;
}

#bannerTopHappyPlace {
    margin: auto;
    height: fit-content;
    font-size: 18px;
    font-weight: bold;
    color: #F0C911;
}

#bannerTopAddress {
    margin: auto;
    height: fit-content;
    font-size: 14px;
}

#bannerBottom {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    height: fit-content;
    color: #000000;
    flex: 3 1 auto;
    align-items: center;
}

#bannerDays {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    height: fit-content;
    flex: 1 3 auto;
}

.bannerBottomSpecial {
    margin: 0 auto;
    width: 73%;
    height: fit-content;
    text-align: right;
}

.bannerBottomTime {
    margin: 0 auto;
    width: 27%;
    height: fit-content;
    text-align: left;
}

button {
	-moz-box-shadow: 0px 10px 14px -7px #f9eca0;
	-webkit-box-shadow: 0px 10px 14px -7px #f9eca0;
	box-shadow: 0px 10px 14px -7px #f9eca0;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f0c911), color-stop(1, #f2ab1e));
	background:-moz-linear-gradient(top, #f0c911 5%, #f2ab1e 100%);
	background:-webkit-linear-gradient(top, #f0c911 5%, #f2ab1e 100%);
	background:-o-linear-gradient(top, #f0c911 5%, #f2ab1e 100%);
	background:-ms-linear-gradient(top, #f0c911 5%, #f2ab1e 100%);
	background:linear-gradient(to bottom, #f0c911 5%, #f2ab1e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0c911', endColorstr='#f2ab1e',GradientType=0);
	background-color:#f0c911;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#5e5e5e;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:4px 7px;
}

button:focus {
    outline: none;
}

.filterButton {
    flex: 1 1 auto;
    margin: auto;
    text-align: center;
    height: fit-content;
    color: #000000;
}

.filterButtonSelected {
    flex: 1 1 auto;
    margin: auto;
    text-align: center;
    height: fit-content;
    background: #000000;
    color: #F0C911;
}

/* ====================  sidepanel  ====================*/
.sidebar {
    width: 0;
    position: fixed;
    z-index: 1;
    top: 30%;
    left: 0;
    background-color: #433d23d1;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sidebar img {
    height: 20px;
    width: 20px;
}

.sidebar button {
    display: block;
    transition: 0.3s;
    margin: 4px;
    box-shadow: none;
}

#filtersSidebar {
    border-radius: 8px;
    display: grid;
}

#filtersSidebarButton {
    width: auto;
    padding: 0px;
    background-color: transparent;
    top: 37% /*TODO:do this dynamically in js?*/
}

#filtersSidebarButtonPopup {
    position: absolute;
    z-index: 99;
    background: black;
    border-radius: 5px;
    text-align: center;
    width: 60px;
    opacity: .7;
    font-size: 12px;
    transition: 0.5s;
}