{% load static %}
<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xhtml">

<head>
	<link rel="stylesheet" href="{% static 'css/submit/submit.css' %}" type="text/css">
  
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>
	<script src="{% static 'js/submit/submit.js' %}" type="text/javascript"></script>
</head>

<body>
	<div id="form" style="text-align:left">
		
		<div id="happyPlaceColumn" class="column">
			<form id="happyPlaceForm" enctype="multipart/form-data">
				Select a Neighborhood, then choose a HappyPlace from the list</br></br>
			  	{% csrf_token %}
				{{ happy_place_submit_form.city }}
			  	
				{{ happy_place_submit_form.neighborhood.label_tag }} {{ happy_place_submit_form.neighborhood }}</br></br>
				{{ happy_place_submit_form.happy_place.label_tag }} {{ happy_place_submit_form.happy_place }}</br></br>
				<hr></br>
				If you don't see your HappyPlace above, search for it below and select 'Add'</br></br>
				{{ happy_place_submit_form.name.label_tag }} {{ happy_place_submit_form.name }}</br></br>
			    <button type="button" id="searchButton" onClick="onSearchButtonClick()"> Search </button></br></br>

				<span id=crossInstaMessage class="hiddenField">Optionally, add a cross street and Instagram handle before adding</span></br></br>
				{{ happy_place_submit_form.cross.label_tag }} {{ happy_place_submit_form.cross }}
				{{ happy_place_submit_form.instagram_handle.label_tag }} {{ happy_place_submit_form.instagram_handle }}
			</form>
			</br>
			<img id="searchingIcon" src="{% static 'searching.svg' %}" style="display: none"/>
			<table id="searchResults" align="center"></table>
		</div>
		
		<div id="happyHourColumn" class="column">
			<form id="happyHourForm" enctype="multipart/form-data" action="/admin/submit" method="post">
			  	{% csrf_token %}
			    <label for="fromOpen"><input id="fromOpen" name="fromOpen" type="checkbox"> From Open </label>
			    <label for="toClose"><input id="toClose" name="toClose" type="checkbox"> To Close </label>

			    {{ happy_hour_submit_form.as_p }}

			    <button for="daily" id="daily" name="daily" type="button" onclick="setHappyHourDays('daily')"> Daily </button>
			    <button for="weekdays" id="weekdays" name="weekdays" type="button" onclick="setHappyHourDays('weekdays')"> Weekdays </button>
			    <button for="weekends" id="weekends" name="weekends" type="button" onclick="setHappyHourDays('weekends')"> Weekends </button>
			    <button for="clear" id="clear" name="clear" type="button" onclick="clearHappyHourDays()"> Clear </button>
			</form>

			<button onclick="saveHappyHour()" value="Submit">Save</button>
		</div>
		
	</div>

</body>