{% load static %}
<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xhtml">

<head>
	<link rel="stylesheet" href="{% static 'css/submit/submit.css' %}" type="text/css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>
</head>


<body>
	<div id="form">
        <form id="userSubmitForm" enctype="multipart/form-data" action="/submit" method="post">
            {% csrf_token %}
            {{ user_submit_form.as_p }}
            <input type="submit">
        </form>
        <img src="data:image/png;base64,{{user_image}}" />
    </div>
</body>