{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<!--<link rel="stylesheet" href="{#% static 'css/submit/submit.css' %#}" type="text/css">-->
  
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>
	<script src="{% static "js/submit/submit.js" %}" type="text/javascript"></script>
	<!--<script src="{#{ STATIC_URL}#}js/submit/map.js" type="text/javascript"></script>-->
	
	<!--<script type="text/javascript">	-->
		<!--$(document).ready(function(){-->
			<!--init();		-->
			<!--hideHappyPlaceFormInputFields();	-->
			<!---->
				<!---->
			<!--$("#happyPlaceForm select#id_neighborhood").change(function(){-->
				<!--if ($(this).prop("selectedIndex") == 0){-->
					<!--$('#happyPlaceForm input#id_neighborhoodName').show();-->
					<!--$("#happyPlaceForm label[for='id_neighborhoodName']").show();-->
				<!--} else {-->
					<!--$('#happyPlaceForm input#id_neighborhoodName').hide();-->
					<!--$("#happyPlaceForm label[for='id_neighborhoodName']").hide();-->
				<!--}-->
			<!--});				-->
		<!--});-->
	<!--</script>-->
</head>

<body>
	<div id="form" style="text-align:center">
		
		<div id="happyPlaceSubmit">
			<form id="happyPlaceForm" enctype="multipart/form-data" onSubmit="onHappyPlaceFormSumbit()" action="/submit/" method="post">
			  	{% csrf_token %}
			  	
			    {{ happy_place_submit_form.as_p }}
			    <button type="button" id="searchButton" onClick="onSearchButtonClick()"> Search </button>
			</form>
			<table id="searchResults"></table>
		</div>
		
		<div id="happyHourSubmit">
			<form id="happyHourForm" enctype="multipart/form-data" onSubmit="onHappyHourFormSumbit()" action="/submit/" method="post">
			  	{% csrf_token %}
			  	Enter happy hour details

			    <label for="fromOpen"><input id="fromOpen" name="fromOpen" type="checkbox"> From Open </label>
			    <label for="toClose"><input id="toClose" name="toClose" type="checkbox"> To Close </label>
			    
			    {{ happy_hour_submit_form.as_p }}
			    
			    <button for="daily" id="daily" name="daily" type="button" onCLick="setHappyHourDays('daily')"> Daily </button>
			    <button for="weekdays" id="weekdays" name="weekdays" type="button" onCLick="setHappyHourDays('weekdays')"> Weekdays </button>
			    <button for="weekends" id="weekends" name="weekends" type="button" onCLick="setHappyHourDays('weekends')"> Weekends </button>
			    <button for="clear" id="clear" name="clear" type="button" onCLick="clearHappyHourDays()"> Clear </button>
			    </br>
			    </br>
			    <input onClick="onHappyHourSubmit()" type="submit" value="Submit">
    
				<input type="hidden" name="formType" value="happyHourForm">
				<input type="hidden" name="happyPlaceId" value="{{ happyPlaceId }}">
			</form>
			Click <a href="http://owensx.pythonanywhere.com">here</a> to return to the homepage!
		</div>
		
	</div>

</body>